<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE xhtml>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
</head>
<body>
    <nav id="toc" epub:type="toc">
        <h2>Table of Contents</h2>
        <ol class="tocNav">
            <%pages.forEach(function(page){%>
            <li><a href="<%=page.href%>"><%=page.title%></a></li>
            <%});%>
        </ol>
    </nav>
</body>
</html>